body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 40px;
    width: 100%;
    box-sizing: border-box;
}

input {
    width: 90%;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

.sign-up-txt {
    margin-top: 5px;
}

.sign-up-txt a {
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

.sign-up-txt a:hover {
    text-decoration: underline;
    color: darkblue;
}

.second-page-layout {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#info-graph {
    flex: 0 0 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: 2px solid black;
}

#items-management {
    flex: 0 0 35%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#pie-graph canvas {
    max-width: 100% !important;
    max-height: 100% !important;
}

#pie-graph {
    padding-top: 50px;
    width: 80%; 
    max-width: 560px; 
    aspect-ratio: 1 / 1; 
    
    height: auto;
}

#summary-expenses {
    width: 80%;
    border: 2px solid black;
    border-radius: 5px;
    align-items: flex-start;
}

#summary-expenses h2 {
    width: 100%;
    text-align: center;
}
.expense-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 160px;
    padding-left: 15px;
    gap: 0 30px;
}

.expense-list li {
    width: 150px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}