
body, html {
    width: 90%;
    height: 90%;
}

aside {
    float: right;
    width: 20%;
    height: 100%;
    background-color: beige;
}

.main_section_part {
    float: left;
    width: 80%;
    height: 100%;
    background-color: aquamarine;
}

section {
    padding: 10px;
    width: 100%;
    height: 100%;
}