div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 40px;
    width: 100%;
    box-sizing: border-box;
}

input {
    width: 90%;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

.sign-up-txt {
    margin-top: 5px;
}

.sign-up-txt a {
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

.sign-up-txt a:hover {
    text-decoration: underline;
    color: darkblue;
}