body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 40px;
    width: 100%;
    box-sizing: border-box;
}

input {
    width: 90%;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

.sign-up-txt {
    margin-top: 5px;
}

.sign-up-txt a {
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

.sign-up-txt a:hover {
    text-decoration: underline;
    color: darkblue;
}

.second-page-layout {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#info-graph {
    flex: 0 0 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: 2px solid black;
}

#items-management {
    flex: 0 0 35%;
    display: flex;
    flex-direction: column;
}

#pie-graph canvas {
    max-width: 100% !important;
    max-height: 100% !important;
}

#pie-graph {
    padding-top: 50px;
    width: 80%;
    max-width: 560px;
    aspect-ratio: 1 / 1;

    height: auto;
}

#summary-expenses {
    width: 80%;
    border: 2px solid black;
    border-radius: 5px;
    align-items: flex-start;
}

#summary-expenses h2 {
    width: 100%;
    text-align: center;
}

.summary-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 160px;
    padding-left: 15px;
    gap: 0 30px;
}

.summary-list li {
    width: 150px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.new-item-details {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}

.new-item input {
    width: 80%;
}

#expense-table {
    width: 99%;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 30px;
}

#expense-table th,
#expense-table td {
    border: 1px solid black;
    padding-top: 5px;
}

#expense-table th {
    background-color: rgb(215, 206, 206);
    font-weight: bold;
}

#expense-table tbody tr:hover {
    background-color: grey;
    cursor: pointer;
}

.delete-btn {
    background-color: rgb(242, 78, 78);
    border-radius: 10px;
}

.edit-btn {
    background-color: rgb(255, 255, 61);
    border-radius: 10px;
}

.footer-settings {
    margin-top: auto;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.footer-settings .button {
    width: 30%;
    margin: 0;
    color: black;
    border-radius: 0;
}